.proyectos__imagen{
    height: fit-content;
    margin-top: 1rem;
    max-width: 100%;
}

@media (min-width: 768px){
    .proyectos__imagen{
        margin-right: 1rem;
        margin-top: 0;
        max-width: 70%;
        order: -1;
    }
}