.formacion__boxContainer{
    display: block;
    grid-area: formacion;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    justify-content: space-between;
}

@media (min-width: 425px){
    .formacion__boxContainer{
        display: grid;
        gap: .5rem;
    }
}

@media (min-width: 768px){
    .formacion__boxContainer{
        gap: .75rem;
    }
}