.encabezado__contacto{
    display: block;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 425px){
    .encabezado__contacto{
        font-size: 16px;
    }
}

@media (min-width: 768px){
    .encabezado__contacto{
        display: none;
    }
}