.formacion__box{
    display: grid;
    grid-template-areas: "areaImagen" "areaSitio" "areaEscuela";
    grid-template-columns: 100%;
    grid-template-rows: 150px auto auto;
    margin-bottom: 1.5rem;
}

.formacion__box:last-child{
    margin-bottom: 0;
}