.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (min-width: 425px) {
        flex-direction: row;
        justify-content: space-around;

        @media (min-width: 768px) {
            justify-content: flex-start;
            gap: 40px;
        }
    }
}

.cabeceraAvatar {
    background: url("../img/avatar.jpg") top /cover no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    min-width: 150px;
    min-height: 150px;

    @media (min-width: 425px) {
        height: 100px;
        width: 100px;
        min-height: 100px;
        min-width: 100px;
    }
}

.cabeceraNombre {
    margin-bottom: 2em;

    @media (min-width: 425px) {
        margin-bottom: 0;
    }
}

.cabeceraTitulo {
    text-align: center;
}

.cabeceraTituloStack {
    display: block;
    margin-top: 0.2em;
    font-size: 0.6em;
}

.header-link {
    display: none;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid #ff7f00;
    background-color: transparent;
    color: #ff7f00;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
@media (min-width: 768px) {
  .header-link {
    display: flex;
    margin: auto 0 auto auto;
  }

  .header-link:hover {
    background-color: rgba(255, 127, 0, 0.1);
  }
}