main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 1em;
  z-index: 1;

  @media (min-width: 425px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 80px;
  }
}

.perfil-t {
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.perfilGrafico {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 350px;
  padding: 5px 1em;
  border-bottom: 2px solid #555;
  position: relative;
}

.graficoBarra {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 100%;
  padding: 12px;
}

.barraValor {
  width: 100%;
  background-color: #569cd6;
  border-radius: 4px 4px 0 0;
  transition: height 0.3s;
}

.graficoBarra span {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #d4d4d4;
}

.toggle-info {
  color: #ff7f00;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 4px;
  font-size: 2em;
}

.soft-skills {
  margin: auto;
  max-width: 400px;
  min-width: 350px;
  text-align: center;

  @media (min-width: 425px) {
    margin: 0 auto;
  }
}

.skillsList {
  padding: 20px;
}

.skill-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.skills {
  text-align: center;
}

.skillsIcon {
  height: 30px;
  width: 30px;
  margin-bottom: 3px;
}

.skill-button {
  color: #ff7f00;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform:translateY(-50%);
}

.sobreMi{
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  min-width: 300px;
}

.sobreMiTextoContainer {
  padding: 20px;
}

.sobreMiTexto {
  margin-bottom: 0.7em;
}