body{
    font-family: 'Raleway';
    background-color: #1e1e1e;
    color: #d4d4d4;
    position: relative;
}

header {
    display: block;
    padding: 150px 40px;

    @media (min-width: 425px) {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 40px;
    }
}

h1 {
    @media (min-width: 425px) {
        font-size: 1.5em;
    }
}

h3 {
  color: #4ec9b0;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    text-align: left;
    font-size: 1em;
    color: #4ec9b0;
    margin: 5px 0;
}