.banner__titulo{
    font-size: 22px;
}

@media (min-width: 425px){
    .banner__titulo{
        font-size: 24px;
    }
}

@media (min-width: 768px){
    .banner__titulo{
        font-size: 40px;
    }
}