.banner__redes{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

#banner__redes__curriculo{
    display: none;
}

@media (min-width: 768px){
    .banner__redes{
        justify-content: left;
    }
}
