.skills__list__nombre{
    font-size: 14px;
    margin-bottom: .3rem;
}

@media (min-width: 425px){
    .skills__list__nombre{
        font-size: 16px;
    }
}

@media (min-width: 768px){
    .skills__list__nombre{
        font-size: 20px;
    }
}