.skills__list__sitio{
    font-size: 12px;
}

@media (min-width: 425px){
    .skills__list__sitio{
        font-size: 14px;
    }
}

@media (min-width: 768px){
    .skills__list__sitio{
        font-size: 15px;
    }
}