.contacto__box{
   align-items: center;
   display: flex;
   width: 100%;
}
.contacto__errores{
   color: darkred;
   font-size: 16px;
   margin-top: .75rem;
   right: 0;
   text-align: end;
   width: 100%;
}
.contacto__banner{
   display: none;
}
.contacto__formulario{
   display: flex;
   flex-direction: column;
   width: 100%;
}
.contacto__formulario__bloque{
   min-height: 3.5rem;
   position: relative;
}
.contacto__formulario__bloque:hover{
   color: blue;
}
.contacto__formulario__boton{
   background-color: rgb(0, 110, 231);
   border: none;
   color: #eeeeee;
   font-size: 18px;
   height: 50px;
   margin-top: .5rem;
   transition-duration: .5s;
}
.contacto__formulario__boton:hover{
   transform: scale(1.1);
}
.contacto__formulario__boton:disabled{
   background-color: grey;
   color: #444444;
}
.contacto__formulario__campo{
   background-color: white;
}
.contacto__formulario__campo:focus{
   background-color: blue;
}
.contacto__formulario__etiqueta{
   font-size: 12px;
   left: 5px;
   position: absolute;
   top: 4px;
}
.contacto__formulario__input{
   border: none;
   font-size: 16px;
   height: 3rem;
   left: 0;
   padding: 15px 5px 0 5px;
   position: absolute;
   top: 0;
   width: 100%;
}
.contacto__formulario__input:focus{
   background-color: rgb(255, 255, 128);
   outline: none;
}
.contacto__formulario__input:hover{
   background-color: #cccccc;
   border: none;
}
.contacto__formulario__textarea{
   border: none;
   font-size: 16px;
   width: 100%;
}
.contacto__formulario__textarea:focus{
   background-color: rgb(255, 255, 128);
   outline: none;
}
.contacto__formulario__textarea:hover{
   background-color: #cccccc;
   border: none;
}

@media (min-width: 425px){
   .contacto__banner{
       display: block;
       height: fit-content;
       width: 50%;
   }
   .contacto__formulario{
      width: 50%;
  }
}