.contacto__formulario__input{
    border: none;
    font-size: 16px;
    height: 3rem;
    left: 0;
    padding: 15px 5px 0 5px;
    position: absolute;
    top: 0;
    width: 100%;
}

.contacto__formulario__input:focus{
    background-color: rgb(255, 255, 128);
    outline: none;
}

.contacto__formulario__input:hover{
    background-color: #cccccc;
    border: none;
}